#define APSTUDIO_READONLY_SYMBOLS 0
#define APSTUDIO_HIDDEN_SYMBOLS 0

#include "resource.h"
#include "windows.h"

LANGUAGE 0,0

IDI_WORKIMITATE ICON "Resources/WorkImitate.ico"
IDI_CW ICON "Resources/CWIcon.ico"
IDI_VC6 ICON "Resources/VC6Icon.ico"
IDI_VS9 ICON "Resources/VS9Icon.ico"
IDB_CWBOTTOM IMAGES "Resources/CWBottom.gif"
IDB_CWLEFT IMAGES "Resources/CWLeft.gif"
IDB_CWTOP IMAGES "Resources/CWTop.gif"
IDB_PREVIEW IMAGES "Resources/Preview.gif"
IDB_VC6BOTTOM IMAGES "Resources/VC6Bottom.gif"
IDB_VC6LEFT IMAGES "Resources/VC6Left.gif"
IDB_VC6TOP IMAGES "Resources/VC6Top.gif"
IDB_VS9BOTTOM IMAGES "Resources/VS9Bottom.gif"
IDB_VS9LEFT IMAGES "Resources/VS9Left.gif"
IDB_VS9TOP IMAGES "Resources/VS9Top.gif"
IDI_CARBIDE ICON "Resources/CCIcon.ico"
IDB_CCTOP IMAGES "Resources/CCTop.gif"
IDB_CCBOTTOM IMAGES "Resources/CCBottom.gif"
IDB_CCLEFT IMAGES "Resources/CCLeft.gif"
IDR_SAMPLECODE IMAGES "Resources/Sample.code"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,2
PRODUCTVERSION 1,0,0,2
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "Comments", "Work Imitate screen saver\0"
      VALUE "FileDescription", "Work Imitate screen saver\0"
      VALUE "FileVersion", "1, 0, 0, 2\0"
      VALUE "InternalName", "WorkImitate\0"
      VALUE "LegalCopyright", "Copyright (C) 2008 Artem A. Senichev\0"
      VALUE "OriginalFilename", "WorkImitate.exe\0"
      VALUE "ProductName", "Work Imitate screen saver\0"
      VALUE "ProductVersion", "1, 0, 0, 2\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

IDD_CONFIGURE DIALOGEX 0,0,222,195
CAPTION "WorkImitate v.1.1 Configure"
FONT 8,"MS Shell Dlg",400,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|DS_SHELLFONT
BEGIN
  CONTROL "Path to source files:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,5,210,9
  CONTROL "",IDC_EDIT1,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,6,15,189,12,WS_EX_CLIENTEDGE
  CONTROL "...",IDC_BUTTON1,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,198,15,19,13
  CONTROL "Include subfolders",IDC_CHECK1,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,6,29,210,11
  CONTROL "Imitated IDE:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,48,210,9
  CONTROL "",IDC_COMBO1,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,6,58,210,84
  CONTROL "Enhanced color syntax",IDC_CHECK2,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,6,73,210,11
  CONTROL "Typing speed",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,88,210,48
  CONTROL "",IDC_SLIDER1,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_AUTOTICKS,54,100,156,24
  CONTROL "0",IDC_TYPINGSPEED,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_CENTER,18,106,30,8
  CONTROL "10 msec",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,48,124,27,8
  CONTROL "1 sec",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,192,124,18,8
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,112,173,50,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,166,173,50,15
  CONTROL "http://workimitate.sourceforge.net",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,6,142,208,9
  CONTROL "Artem A. Senichev 2007-2008",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,6,155,208,9
END
